$white: #fff;
$gray-100: #f3f2f1;
$gray-200: #edebe9;
$gray-300: #d2d0ce;
$gray-400: #a19f9d;
$gray-500: #8a8886;
$gray-600: #605e5c;
$gray-700: #3b3a39;
$gray-800: #323130;
$gray-900: #201f1e;
$black: #000;

$blue: #0561ad;
$indigo: #6b69d6;
$purple: #744da9;
$pink: #bf0077;
$red: #d13438;
$orange: #f7630c;
$yellow: #ffb900;
$green: #0b6b30;
$teal: #00b294;
$cyan: #00727a;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
